# Environments
.env
.venv
env/
venv/

# Compliled files
__pycache__/
*.pyc

# Model weights
*.pt
*.onnx

# Ignore uploads folder
uploads/

# Ignore document files
*.pdf
*.docx
*.doc
*.txt
*.rtf
*.odt
*.xls
*.xlsx
*.csv
*.ppt
*.pptx
*.zip

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class