fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
PyJWT
python-dotenv
pydantic-settings
pydantic
pydantic[email]
langchain
langchain-google-genai
ultralytics
opencv-python
Pillow
numpy
python-multipart
alembic