fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
PyJWT
python-dotenv
pydantic-settings
pydantic
pydantic[email]
ultralytics
opencv-python
Pillow
numpy
python-multipart
alembic
langchain
langchain-google-genai
llama-index
llama-index-vector-stores-postgres
llama-index-storage-docstore-postgres
llama-index-storage-index-store-postgres
llama-index-vector-stores-qdrant
llama-index-postprocessor-cohere-rerank
llama-index-embeddings-cohere
llama-index-embeddings-huggingface
llama-parse
llama-index-llms-langchain
qdrant-client